# Секретные файлы
.env

# Виртуальное окружение
.venv/
venv/

# Файлы бэкенда (бота), которые не нужны на сайте
main.py
.clinerules
welcome.jpg

# Системные файлы и кэш Python
__pycache__/
*.pyc
.DS_Store
.payment_server.py